body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .input-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .input-group input,
  .input-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .input-group input:focus,
  .input-group select:focus {
    border-color: #aaa;
    outline: none;
  }
  .predict-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .predict-button:hover {
    background-color: #0056b3;
  }